@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  scroll-behavior: smooth;
}

.animate-scroll{
  animation: scroll 1s linear infinite alternate-reverse;
}

@keyframes scroll {
  from{
    transform: translateX(0px);

  }
  to{
    transform: translateX(10px);

  }
  
}

.ticket_buy_button{
  position: relative;
  z-index: 0;
}
.ticket_buy_button::before{
  content: "";
  position: absolute;
  background-color: rgb(251 146 60);
  top: 0;
  left: 50%;
  height: 100%;
  width: 0%;
  transition: all 0.3s ease;
  filter: saturate(1.4);
  border-radius: 100px;
  z-index: -1;
}

.ticket_buy_button:hover::before{
  width: 100%;
  left: 0;
  border: 1px solid rgb(251 146 60);

}